.nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #0d3a38;
    height: 50px;
    text-decoration: none;
    padding-right: 20px;  
    position: fixed;
}

.nav a {
    color: white;
    margin: auto 10px;
    font-size: 16px;
    transition: all 0.4s ease-in-out;
    }





.home{
    display: flex;
    width: 100%;
    height: 350px;
    margin: auto;
    text-align: left;
    font-size: 36px;
    color: black;
    flex-direction: column;
    background-image: url(imagens/home_imagem.jpg);
    background-repeat: no-repeat;
    background-size:1800px 400px;
    
}
#hometitle{
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    background-color: #1e4a48;
    color: white;
}

.home1{
    display: flex;
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 36px;
    background-color: #1e4a48;
    color: white;
}

.sobre{
    display: flex;
    
    align-items: center;
    justify-content: center;
    background-color: #1e4a48;
    width: 100%;
    height: 400px;
}




.text1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
    

}

#title1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2% 0;
    color: white;
    font-size: 36px;
    
}

#text2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
    color: white;
    font-size: 25px;
}
.image1{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 50px;
    background-size: auto;
}
.imagem1{
    width: 60%;
    height: 300px;
    border-radius: 80%;
    
}

.software{
    height: auto;
    background-color: #2f5b58
}

#titlesoftware{
    text-align: center;
    font-size: 36px;
    color: white;
}

#text3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
    color: black;
    font-size: 25px;
    color: white
    

}


#parceiro{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom:50px;
    padding-top: 30px;
    height: 80px;
    background-color: yellow;
    

}

#sejaparceiro{
    background-color: #0d3a38;
}






.form-g{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 50%;
    padding-left: 50px;
   
    margin-left: 45%;
    padding-bottom: 30px;

}



label{
    text-align:center;
    background-color: #3f6b68;
    border-radius: 10px;
    width: 90%;
    height: auto; 
    padding: 20px;
    margin: 10px;
   
}

#botao{ text-align: center;

width: 100%; }

.botaoenviar{
   
    width: 350px;
    text-align: center;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #FCC302;
    font-size: 18px;
    margin: auto;
    
}




input{

    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    text-align: center;
    width: 100%;
    margin: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    transition: .3s ease;
    cursor: pointer;
}

.contato{
    padding-top: 40pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20pt;
    background-color: #507b78;
    color: white;
    padding-bottom: 40pt;
}

    .text{
        text-align: center;

    }

    .text4{
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding-top: 60px;
        padding-right: 60px;
        width: 30%;
        height: 400px;
        padding-left: 50px;
        color: #eee;
        font-size: 20pt;
       
        float: left;
        
    }

    

   









